# Dependencies
node_modules/

# Webpack build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store

# IDE/editor files
.vscode/

# Environment variables
.env
.env.local
.env.*.local